{
  "parserOptions": {
    "project": "./tsconfig.json"
  },

  "extends": [
    "@strv/react",
    "@strv/react/optional",
    "@strv/typescript",
    "prettier"
  ],

  "rules": {
    "import/order": [
      "warn",
      {
        "newlines-between": "always",
        "pathGroups": [
          {
            "pattern": "~/**",
            "group": "external",
            "position": "after"
          }
        ]
      }
    ],

    // TypeScript
    "@typescript-eslint/explicit-function-return-type": "off",
  },

  "overrides": [
    {
      "files": "*.page.*",
      "rules": {
        "import/no-default-export": "off"
      }
    },
    {
      "files": "*.test.*",
      "rules": {
        "@typescript-eslint/no-shadow": ["error", { "allow": ["screen"] }]
      }
    }
  ]
}
