{
  "parserOptions": {
    "project": "./tsconfig.json"
  },

  "extends": [
    "@strv/react",
    "@strv/react/optional",
    "@strv/typescript",
    "prettier",
    "prettier/react"
  ],

  "rules": {
    "import/order": [
      "warn",
      {
        "newlines-between": "always",
        "pathGroups": [
          {
            "pattern": "~/**",
            "group": "external",
            "position": "after"
          }
        ]
      }
    ]
  },

  "overrides": [
    {
      "files": "*.test.*",
      "rules": {
        "no-shadow": ["error", { "allow": ["screen"] }]
      }
    }
  ]
}
